.background-color-black {
    background-color: #1d1716;
}

.background-color-blue {
    background-color: #53a8b6;
}

.background-color-brown {
    background-color: #83580b;
}

.background-color-gray {
    background-color: #a7bcb9;
}

.background-color-green {
    background-color: #7dd87d;
}

.background-color-pink {
    background-color: #ffb5b5;
}

.background-color-purple {
    background-color: #d59bf6;
}

.background-color-red {
    background-color: #dc2f2f;
}

.background-color-white {
    background-color: #fcfefe;
}

.background-color-yellow {
    background-color: #ffc93c;
}


.flex-card-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.egg-group {
    padding: 10px;
    background-color: coral;
    border-radius: 4px;
}

.pokemon-stats-progress-bar {
    height: 10px;
    border-radius: 8px;
  }
  
  :host ::ng-deep mat-progress-bar .mdc-linear-progress__bar-inner {
    border-top-width: 10px;
  }